<section>
    <h2 class="mt-5 mb-5">Features</h2>

    <div id="divFeatures" class="mb-5">
        <div class="divFeaturesChild">
            <fa-icon [icon]="faMobileProperty"></fa-icon>
            <h5>Responsive design</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora qui dolorem, earum ipsam magnam quaerat at nostrum amet!</p>
        </div>
            
        <div class="divFeaturesChild">
            <fa-icon [icon]="faCode"></fa-icon>
            <h5>Clean Code</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora qui dolorem, earum ipsam magnam quaerat at nostrum amet!</p>
        </div>

        <div class="divFeaturesChild">
            <fa-icon [icon]="faLifeRing"></fa-icon>
            <h5>24/07 Support</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora qui dolorem, earum ipsam magnam quaerat at nostrum amet!</p>
        </div>

        <div class="divFeaturesChild">
            <fa-icon [icon]="faPencilAlt"></fa-icon>
            <h5>Modern Design</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora qui dolorem, earum ipsam magnam quaerat at nostrum amet!</p>
        </div>
    </div>
</section>
