<section>
    <h2 class="mt-5">About Us</h2>
    <div id="border" class="mb-5"></div>

    <div id="divCards" class="mt-3">
        <div class="Card">
            <img [src]="img1" class="mb-3"/>
            <h4>Quick Install</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit mollitia ipsum facere asperiores alias? Aliquid.</p>
        </div>

        <div class="Card">
            <img [src]="img2" class="mb-3"/>
            <h4>24/7 Support</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit mollitia ipsum facere asperiores alias? Aliquid.</p>     
        </div>

        <div class="Card">
            <img [src]="img3" class="mb-3"/>
            <h4>Quick Install</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit mollitia ipsum facere asperiores alias? Aliquid.</p>
        </div>
    </div>
</section>