<section>
    <h2>Price Table</h2>
    <div id="border" class="mb-5"></div>

    <div id="divCards">
        <div class="Card">
            <div class="darkGreyCard">
                <h3>$ <span>12</span>/month</h3>
                <h4>Basic</h4>
            </div>
            <h5>FREELANCER</h5>
            <p>1000 video lessons</p>
            <p>Normal speed</p>
            <p>500 solved exercises</p>
            <p>300MB to save your code</p>
            <p>750 hours of support</p>
            <button type="submit" class="mt-2 mb-5">Sign up</button>
        </div>  

        <div class="Card Card2">
            <div class="darkGreenCard">
                <h3>$ <span>35</span>/month</h3>
                <h4>Ultimate</h4>
            </div>
            <h5>BEST VALUE</h5>
            <p>3000 video lessons</p>
            <p>2x speed</p>
            <p>2000 solved exercises</p>
            <p>500MB to save your code</p>
            <p>900 hours of support</p>
            <button type="submit" class="mt-2 mb-5">Sign up</button>
        </div>  

        <div class="Card">
            <div class="darkGreyCard">
                <h3>$ <span>75</span>/month</h3>
                <h4>Platinum</h4>
            </div>
            <h5>BIG COMPANY</h5>
            <p>5000 video lessons</p>
            <p>4x speed</p>
            <p>4000 solved exercises</p>
            <p>900MB to save your code</p>
            <p>Unlimited hours of support</p>
            <button type="submit" class="mt-2 mb-5">Sign up</button>
        </div>  
    </div>

    
</section>
