<header class="mt-5">
    <nav> 
        <h2>Awesome</h2>    
        <ul>     
            <li>Features</li>
            <li>Services</li>
            <li>Call to Action</li>
            <li>Price</li>
            <li>About</li>
            <li>Testimonial</li>
            <li><button type="submit">Button</button></li>
        </ul>
    </nav>

    <div>
        <h1 class="text-center">Awesome Template</h1>  
        <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis itaque voluptatum, minus aperiam eius dolore quisquam suscipit incidunt quasi obcaecati provident et ipsum illo vitae qui ducimus. Odit deserunt consequuntur culpa vero quidem tempore a. Atque rem qui minus quia quam voluptas officia aliquid incidunt!</p>  
    </div>
</header>
