* {
    font-family: 'Roboto', 'sans-serif';
    color: white;
}

header {
    background-color: #66CD00;
    width: 80%;
    margin: 0 auto;
}

nav h2 {
    float: left;
    font-size: 23px;
    font-weight: 400;
    padding: 10px 0 0 50px;
}

nav ul {
    display: flex;
    justify-content: right;
    margin-right: 35px;
}

nav li {  
    display: inline;
    float: left;  
    padding: 13px 5px 0 5px;
}

nav li button {
    border: 1px solid white;
    border-radius: 3px;
    background-color: #478E00; 
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    position: relative;
    bottom: 5px;
}

header div {
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div h1 {
    text-shadow: 2px 2px 5px rgba(112, 112, 112, 0.63);
    padding-top: 70px;
    font-size: 45px;
}

header div p {
    width: 56%;
    text-align: justify;
    padding-bottom: 150px;
}