<section>
    <div id="divMacImg" class="mt-5"></div>
    
    <div class="divMacContent">
        <div class="divMacInfo">
            <div class="greenCircleIcon text-center">
                <fa-icon [icon]="faRocket"></fa-icon>
            </div>
            <div class="divMacText">
                <h4>Quick Install</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem tempora asperiores aperiam animi voluptates? Maxime, sequi ex. Animi veniam deleniti excepturi architecto quos, dolorem ipsam.</p>
            </div>
        </div>

        <div class="divMacInfo mt-2">
            <div class="greenCircleIcon text-center">
                <fa-icon [icon]="faRocket"></fa-icon>
            </div>
            <div class="divMacText">
                <h4>Quick Install</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem tempora asperiores aperiam animi voluptates? Maxime, sequi ex. Animi veniam deleniti excepturi architecto quos, dolorem ipsam.</p>
            </div>
        </div>
    </div>  
</section>


