<section>
    <h2 class="mt-5 mb-5 text-center">Services</h2>

    <div id="divCards">
        <div class="Card cardLightGrey">
            <fa-icon [icon]="faLifeRing" class="mb-2"></fa-icon>
            <h4>24/7 Support</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, tenetur fuga! Ab voluptates veritatis temporibus voluptas pariatur?</p>
        </div>

        <div class="Card">
            <fa-icon [icon]="faRocket" class="mb-2"></fa-icon>
            <h4>Quick Install</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, tenetur fuga! Ab voluptates veritatis temporibus voluptas pariatur?</p>
        </div>

        <div class="Card cardLightGrey">
            <fa-icon [icon]="faCogs" class="mb-2"></fa-icon>
            <h4>Easy to Customize</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, tenetur fuga! Ab voluptates veritatis temporibus voluptas pariatur?</p>
        </div>
    </div>

    <div id="divCards">
        <div class="Card">
            <fa-icon [icon]="faMagic" class="mb-2">Another Feature</fa-icon>
            <h4>Quick Install</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, tenetur fuga! Ab voluptates veritatis temporibus voluptas pariatur?</p>
        </div>

        <div class="Card cardLightGrey">
            <fa-icon [icon]="faLifeRing" class="mb-2"></fa-icon>
            <h4>24/7 Support</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, tenetur fuga! Ab voluptates veritatis temporibus voluptas pariatur?</p>
        </div>

        <div class="Card">
            <fa-icon [icon]="faRocket" class="mb-2"></fa-icon>
            <h4>Quick Install</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, tenetur fuga! Ab voluptates veritatis temporibus voluptas pariatur?</p>
        </div>
    </div>
</section>
